// Navigation Styles here
header {
    .flex-box(column);
}

.banner {
    .flex-box();
    .border-btm();
    width: 100%;
    justify-content: space-between;
    padding: 2em 0;


    h1 {
        text-transform: @text-style;
    }

    nav {
        .flex-box();
        justify-content: space-around;
        align-items: center;
        width: 40%;


        a {
            font-size: 1.5rem;
            text-transform: @text-style;
            text-decoration: none;
            color: @font-color;
        }
    }

}